<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true">

    <testsuites>
        <testsuite name="Unit">
            <directory>Unit</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="JPATH_BASE" value="/Users/pisan/Sites/joomla54"/>
        <const name="FC_TEST_ENV" value="1"/>
    </php>
</phpunit>
